.text-center{
    width: 500px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   margin: 150px 0px 0px 400px;
}

#inputEmail{
    margin: 30px;

}

#inputPassword{
    margin: 30px;
}

.btn{
margin-left: 20px;
}

